In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
data  = pd.read_csv('breast-cancer-wisconsin.csv')
data.head()

    Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [14]:
from sklearn.model_selection import train_test_split
X = data.drop(['Sample', 'Class'], axis=1)
y = data['Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)