### Name: Tarun Dadlani
### CWID: 20010209
### Class: CS513-B
### Assignment: HW05_CART

In [1]:
# read breast cancer dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import tree

cancer_data_df = pd.read_csv('breast-cancer-wisconsin.csv')
cancer_data_df = cancer_data_df.replace("?", np.NaN)  # replace "?" with NaN
cancer_data_df

      Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0    1000025   5   1   1   1   2   1   3   1   1      2
1    1002945   5   4   4   5   7  10   3   2   1      2
2    1015425   3   1   1   1   2   2   3   1   1      2
3    1016277   6   8   8   1   3   4   3   7   1      2
4    1017023   4   1   1   3   2   1   3   1   1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
694   776715   3   1   1   1   3   2   1   1   1      2
695   841769   2   1   1   1   2   1   1   1   1      2
696   888820   5  10  10   3   7   3   8  10   2      4
697   897471   4   8   6   4   3   4  10   6   1      4
698   897471   4   8   8   5   4   5  10   4   1      4

[699 rows x 11 columns]

In [2]:
# Split the data into training and testing sets
X = cancer_data_df.drop('Class', axis=1)
y = cancer_data_df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# Train the model
model = HistGradientBoostingClassifier()
model.fit(X_train, y_train)

# Predictions and Evaluation
y_pred = model.predict(X_test)

In [3]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
print("Classification Report: \n")
print(classification_report(y_test, y_pred), end="\n")

print(f'\nConfusion Matrix:\n{confusion_matrix(y_test, y_pred)}')
print(f'\nAccuracy: {accuracy_score(y_test, y_pred)}')

Classification Report:

              precision    recall  f1-score   support

           2       0.97      0.97      0.97       129
           4       0.95      0.95      0.95        81

    accuracy                           0.96       210
   macro avg       0.96      0.96      0.96       210
weighted avg       0.96      0.96      0.96       210


Confusion Matrix:
[[125   4]
 [  4  77]]

Accuracy: 0.9619047619047619