### Name: Tarun Dadlani
### CWID: 20010209
### Class: CS513-B
### Assignment: HW04_NB

In [23]:
import pandas as pd
import numpy as np
cancer_data_df = pd.read_csv('breast-cancer-wisconsin.csv')
cancer_data_df

      Sample  F1  F2  F3  F4  F5  F6  F7  F8  F9  Class
0    1000025   5   1   1   1   2   1   3   1   1      2
1    1002945   5   4   4   5   7  10   3   2   1      2
2    1015425   3   1   1   1   2   2   3   1   1      2
3    1016277   6   8   8   1   3   4   3   7   1      2
4    1017023   4   1   1   3   2   1   3   1   1      2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
694   776715   3   1   1   1   3   2   1   1   1      2
695   841769   2   1   1   1   2   1   1   1   1      2
696   888820   5  10  10   3   7   3   8  10   2      4
697   897471   4   8   6   4   3   4  10   6   1      4
698   897471   4   8   8   5   4   5  10   4   1      4

[699 rows x 11 columns]

In [24]:
# delete the rows with missing value.
cancer_data_df = cancer_data_df.replace("?", np.NaN)  #
# replace "?" with NaN
cancer_data_df = cancer_data_df.dropna()
cancer_data_df.isnull().sum()

Sample    0
F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
Class     0
dtype: int64

In [25]:
# Use 30% test 70% training data.
from sklearn.model_selection import train_test_split
X = cancer_data_df.drop(['Sample', 'Class'], axis=1)
y = cancer_data_df['Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [26]:
# Use the Naïve Bayes methodology to develop a classification model for the Diagnosis.
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)

In [27]:
# Evaluate the model using the confusion matrix and the accuracy score.
# printing classfication report, confusion matrix, accuracy, and Train set & Test set scores
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
print("Classification Report: \n")
print(classification_report(y_test, y_pred), end="\n")
print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))

print('\nTest set score: {:.4f}'.format(gnb.score(X_test, y_test)))

print(f'\nConfusion Matrix:\n{confusion_matrix(y_test, y_pred)}')
print(f'\nAccuracy: {accuracy_score(y_test, y_pred)}')

Classification Report:

              precision    recall  f1-score   support

           2       1.00      0.95      0.98       133
           4       0.92      1.00      0.96        72

    accuracy                           0.97       205
   macro avg       0.96      0.98      0.97       205
weighted avg       0.97      0.97      0.97       205

Training set score: 0.9603

Test set score: 0.9707

Confusion Matrix:
[[127   6]
 [  0  72]]

Accuracy: 0.9707317073170731